<!-- city-seo -->
<div class="city-list">           
    <div class="city-list__item" 
    *ngFor="let city of cityData; let i = index"
    [ngClass]="{'active': city.id === selectedCityId}"
    (click)="changeSelectCity(city.id)">
        <img src="{{city.logo}}" alt="city_logo">
        <div class="item_main-block">
            <span class="item_main-block__name">{{city.name}}</span>
            <span class="item_main-block__rout">{{city.rout}}</span>
        </div>
        <div class="item_main_setting">
            <span class="item_main_setting-book">55</span>
        </div>        
    </div>
</div>
<!-- city-seo -->