 
<!-- <app-header> -->
    <a class="header-logo" href="/">
        <img src="/assets/images/header/logo_site.svg" alt="main-logo">
    </a>
    <div class="header-user">
        <img src="/assets/images/header/user_logo.png" alt="user-img">
    </div>
    <div class="header-category" id="headerCategory">
        <button class="header-category_btn-seo" (click)="choiceMainCategory(0)"></button>
        <button class="header-category_btn-location" (click)="choiceMainCategory(1)"></button>
        <button class="header-category_btn-services" (click)="choiceMainCategory(2)"></button>
        <button class="header-category_btn-products" (click)="choiceMainCategory(3)"></button>
        <button class="header-category_btn-users" (click)="choiceMainCategory(4)"></button>           
    </div>
<!-- </app-header> -->   